:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-gray: hsl(0, 0%, 59%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --darker-blue: hsl(229, 23%, 23%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
  user-select: none;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.card-container {
  /* height: 100vh;
  width: 100vw; */
  height: 100%;
  width: 100%;
  min-width: 28rem;
  background: url('images/bg-pattern-top.svg') right 52vw bottom 35vh no-repeat,
    url('images/bg-pattern-bottom.svg') left 48vw top 52vh no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 37.5rem;
  width: 35rem;
  border-radius: 1.6rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px var(--dark-cyan);
}

.card-header {
  background: url('./images/bg-pattern-card.svg');
  background-size: contain;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 14rem;
}

.card-avatar {
  height: 9.5rem;
  margin: -5.2rem auto 0 auto;
  width: 9.5rem;
}

.card-avatar > img {
  background-color: #fff;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  width: 100%;
}

.card-content {
  height: 10.2rem;
}

.card-line-1 {
  align-items: baseline;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  padding-top: 3.4rem;
}

.card-line-1 .name {
  font-weight: 700;
  color: var(--darker-blue);
}

.card-line-1 .age {
  font-weight: 400;
  margin-left: 0.9rem;
  color: var(--dark-gray);
}

.card-line-2 {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.card-line-2 .location {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--dark-gray);
}

.card-footer {
  border-top: 0.1rem solid gainsboro;
}

.card-footer .card-categories {
  margin-top: 2.9rem;
  display: flex;
  justify-content: space-evenly;
}

.card-categories .followers,
.card-categories .likes,
.card-categories .photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.8rem;
}

.card-categories .value {
  color: var(--darker-blue);
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0rem;
}

.card-categories .label {
  color: var(--dark-gray);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  padding-top: 0.55rem;
  text-transform: capitalize;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.attribution {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5rem;
  color: black;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  width: max-content;
  padding: 1rem 2rem;
}

.attribution .author {
  margin-left: 0.5rem;
}

.attribution a {
  color: seashell;
  text-decoration: none;
}

.attribution a:focus-visible {
  outline: none;
}

@media (max-width: 375px) {
  .card-container {
    background: url('images/bg-pattern-top.svg') right 40vw bottom 45vh
        no-repeat,
      url('images/bg-pattern-bottom.svg') left 41vw top 44vh no-repeat;
  }

  .card {
    width: 90vw;
    min-width: 26rem;
  }
}

@media (max-width: 290px) {
  .attribution {
    flex-direction: column-reverse;
    align-items: center;
    flex-shrink: 0;
    height: max-content;
    padding: 1rem 2rem;
  }
}

@media (max-height: 489px) {
  .page-footer {
    display: none;
  }
}
